@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600);

body { font-family: "Open Sans", tahoma, sans-serif; 
	background: #fff; 
	font-size: 20px; 
	margin: 0;}

h1 { font-size: 40px; 
	margin:0px;}

a { color: #000000; 
	font-weight: 600; 
	text-decoration: none; }

a:hover { color: #7EB0CD; }

ul, li { 
	list-style-type: none; 
	padding: 0px 0px; 
	margin: 0px 0px; }

#body { width: 100%; 
	height: 100%; 
	margin: 20px 0px 50px 0px; 
	text-align: center; }

#main { 
	position: relative;
	text-align: left; 
	display: inline-block; 
	height: auto; 
	vertical-align: middle; 
}
#section{
	position: relative;
	text-align: left; 
	height: auto; 
	vertical-align: middle; 
}

nav { text-align: center; 
	height: 96px; 
	line-height: 96px; 
	margin: auto;
	margin-top:70px; 
	max-width: 740px; 
	padding: 0 20px; 
	padding-bottom: 30px;
}

nav li { display: inline-block; 
	margin-top: -30px;
	font-size: 24px; 
	margin-left: 15px; 
	margin-right: 15px; }


#pull-left { 
	float: left; 
	padding-right: 10px; 
	margin-top: 70px;
}

#pull-right { 

	float: right; 
	margin-left: 30px; 
	margin-top: 20px;
	height: 400px; 
}
.circle {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 300px !important;
  overflow: hidden;
  border-radius: 50%;
}

.crop {
    width: 350px;
    height: 250px;
    overflow: hidden;
}

.crop img {
	padding-top: 50px;
    width: 400px;
    height: 400px;
    margin: -5px 0 0 -40px;
}

.proj img:hover{
	opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}
.circle img {
  width: auto;
  height: 100%;
  margin-left: -40px;
  float: left;
}
.proj img{
	height: 200px;
}

#links { 
	padding-top: 15px;
	margin-bottom: 10px; 
	text-align: center; 
}
#about {
	text-align:right;
}
#links i, #about { 
	padding-right: 10px; 
	padding-top: 10px; 
}

#wm:hover{
	color:#115740;
}
#tv:hover{
	color:#b58e5b;
}
#jpl:hover{
	color:#255EA9;
}
#nrv:hover{
	color:#78A22F;
}
#ncaa:hover{
	color:#007dc1;
}
#facebook:hover{
	color:#4267b2;
}
#angellist:hover{
	color:#3f81c7;
}
#linkedin:hover{
	color:#0077B5;
}
#bitcoin:hover{
	color:#EF9E5B;
}

